<!-- 
<div class="login-container">
  <div class="login-card">
    <h2>NEPTRON HRMS</h2>
    <form (submit)="login()">
      <input type="text" [(ngModel)]="username" placeholder="Enter your ID" [ngModelOptions]="{standalone: true}"
        required />
        
      <input type="password" [(ngModel)]="password" placeholder="Enter your Password"
        [ngModelOptions]="{standalone: true}" required />
        <span *ngIf="errorMessage" class="error">{{ errorMessage }}</span>
      <button type="submit">Login</button>
    </form>
  </div>
</div> -->

<div class="login-container">
  <div class="login-card">
    <h2>NEPTRON HRMS</h2>
    <form (ngSubmit)="login()">
      <input type="text" [(ngModel)]="username" placeholder="Enter your ID" [ngModelOptions]="{standalone: true}" required />
      
      <input type="password" [(ngModel)]="password" placeholder="Enter your Password" [ngModelOptions]="{standalone: true}" required />
      
      <span *ngIf="errorMessage" class="error">{{ errorMessage }}</span>
      
      <button type="submit">Login</button>
    </form>
  </div>
</div>
