<div class="attendance-container">
  <h2 class="title">Attendance</h2>

  <div class="week-navigation bg-secondary">
    <a (click)="previousWeek()"><<</a>
    <span>{{ weekDates[0] }} to {{ weekDates[6] }}</span>
    <a (click)="nextWeek()">>></a>
  </div>

  <form (ngSubmit)="onSubmit()">
    <table class="attendance-table" >
      <thead class="bg-secondary">
        <tr>
          <th>Date</th>
          <th>Hours Filled</th>
          <th>Remarks</th>
          <th>Project ID</th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let day of weeklyAttendance; let i = index">
            <td>
              <input type="text" [value]="day.attendanceDate | date:'yyyy-MM-dd'" class="date-input" readonly />
            </td>
            <td>
              <input type="number" [(ngModel)]="day.hoursFilled" name="hoursFilled{{i}}" min="0" max="24" required />
            </td>
            <td>
              <input type="text" [(ngModel)]="day.remarks" name="remarks{{i}}" maxlength="200" />
            </td>
            <td>
              <input type="text" id="projectId" value="101" readonly />
            </td>
          </tr>
        </tbody>
    </table>
    <button *ngIf="isCurrentWeek" type="submit" class="submit-btn" (click)="onSubmit()">Submit</button>
  </form>
</div>
