<div class="payslip-container">
    <div class="header">
      <h2>Neptron Technologies</h2>
      <h3>Pay Slip for {{ currentDate | date: 'MMMM yyyy' }}</h3>
    </div>
 
    <table class="employee-details">
      <tr>
        <td><strong>Employee ID:</strong></td>
        <td>{{ payslipData?.empId }}</td>
        <td><strong>UAN No.:</strong></td>
        <td>{{ payslipData?.uanNo || 'Loading...' }}</td>
      </tr>
      <tr>
        <td><strong>PF No.:</strong></td>
        <td>{{ payslipData?.pfNo }}</td>
        <td><strong>ESI No.:</strong></td>
        <td>{{ payslipData?.esi }}</td>
      </tr>
      <tr>
        <td><strong>Bank:</strong></td>
        <td>{{ payslipData?.bankName }}</td>
        <td><strong>Account No.:</strong></td>
        <td>{{ payslipData?.accountNo }}</td>
      </tr>
      <tr>
        <td><strong>IFSC no:</strong></td>
        <td>{{ payslipData?.ifscCode }}</td>
        <td><strong>Account Holder name:</strong></td>
       <td>{{ payslipData?.accountName }}</td>
      </tr>
    </table>
  
    <table class="summary-table">
      <tr>
        <th>Gross Wages</th>
        <td>₹15000</td>
        <th>Total Working Days</th>
        <td>30</td>
      </tr>
      <tr>
        <th>Leaves</th>
        <td>0</td>
        <th>Paid Days</th>
        <td>30</td>
      </tr>
      <tr>
        <th>LOP Days</th>
        <td>0</td>
        <th>Net Pay</th>
        <td>₹13988</td>
      </tr>
    </table>
  
    <div class="earnings-deductions">
      <table class="payslip-table earnings">
        <tr>
          <th colspan="2">Earnings</th>
        </tr>
        <tr><td>Basic</td><td>₹7500</td></tr>
        <tr><td>HRA</td><td>₹3000</td></tr>
        <tr><td>Conveyance Allowance</td><td>₹1600</td></tr>
        <tr><td>Medical Allowance</td><td>₹1250</td></tr>
        <tr><td>Other Allowances</td><td>₹1650</td></tr>
        <tr><th>Total Earnings</th><th>₹15000</th></tr>
      </table>
  
      <table class="payslip-table deductions">
        <tr>
          <th colspan="2">Deductions</th>
        </tr>
        <tr><td>EPF</td><td>₹900</td></tr>
        <tr><td>ESI</td><td>₹113</td></tr>
        <tr><td>Professional Tax</td><td>₹0</td></tr>
        <tr><th>Total Deductions</th><th>₹1013</th></tr>
      </table>
    </div>
  
    <div class="net-salary">
      <strong>Net Salary:</strong> ₹13988
    </div>
